<% var title = 'Page de Profil' %>
<% include head %>

<h1> Bonjour <%= name %> votre statut : <%= privilege %>
</h1>

<p>
    Accés au <a href="/produits">produit</a>
</p>



<h2>Suppression d'un compte utilisateur : </h2>
<form method="post" action="/deleteAccountAdmin">
    <p>
        <label>Entrer un nom d'utilisateur à supprimer : </label>
        <input type="text" name="username">
    <p/>
    <p>
        <input type="submit" value="Supprimer le compte">
    </p>
</form>


<h2>Ajouter Produit : </h2>
<form method="post" action="/addItem">
    <p>
        <label>Entrer un nom de produit : </label> <input type="text" name="nom">
    <p/>
    <p>
        <label>Entrer un prix : </label> <input type="text" name="prix">
    <p/>
    <p>
        <label>Entrer une quantite: </label> <input type="text" name="quantite">
    <p/>
    <p>
        <input type="submit" value="Ajouter produit">
    </p>
</form>

<h2>Supprimer Produit par son nom: </h2>
<form method="post" action="/deleteItem">
    <p>
        <label>Entrer le nom du produit : </label> <input type="text" name="nom_produit">
    <p/>
    <p>
        <input type="submit" value="Supprimer produit">
    </p>
</form>


<h2>Déconnexion : </h2>
<form method="post" action="/logoutAccount">
    <p>
        <input type="submit" value="Deconnexion">
    </p>
</form>

<% include foot %>